<form action="/new" method="POST">
  <input type="text" name="name"></input>
  <input type="text" name="description"></input>
  <input type="submit"></input>

</form>
<form action="/newer" method="POST">
<button type="button" onclick="window.location.href='{{ url_for('trial') }}';">Display</button>
</form>
